pytest
pytest-playwright
playwright
python-dotenv~=1.0.0
pytest-loop~=1.0.10
allure-pytest~=2.13.5
configobj~=5.0.8
pandas~=2.1.4
wandb~=0.16.2
dspy~=2.5.9
docx~=0.2.4
openai~=1.51.2
ipython~=8.21.0
psycopg2~=2.9.9
requests_toolbelt~=1.0.0
pytest-html
pytest-xdist
pytest-bdd